{% extends 'base.html' %}
{% load wagtailcore_tags cache wagtailimages_tags %}
{# 🔮 caching and metadata #}
{% block content %}
    <div class='row'>
        <div class='col-md-8 offset-md-0'>
            <h1>{{page.title}}</h1>
        </div>
    </div>

    {% if news_item_count == 0 %}
        <small>There are no news items.</small>
    {% else %}
        {% for i in news_items %}
            <div class='row mb-3'>
                <div class='col-md-10'>
                    <h2 class='mb-1'><a href='{{i.url}}'>{{i.title}}</a></h2>
                    <small class='text-body-secondary'>{{i.release_date}}</small>
                    {% if i.search_description %}
                        <p>{{i.search_description}}</p>
                    {% else %}
                        <small>(No summary available.)</small>
                    {% endif %}
                </div>
                <div class='col-md-2'>
                    {% if i.lead_image %}
                        <a href='{{i.url}}'>
                            {% image i.lead_image fill-150x150 class='figure-img img-fluid rounded float-end ms-3' %}
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock content %}
{# -*- Django HTML -*- #}
